
.box {
  .border-radius(3px 3px 3px 3px);
  .box-shadow(0px 1px 1px @primaryBackgroundHover);
  padding: 7px 15px 7px 45px;
  margin: 10px 0;
  border: 1px solid @borderColor;
  .box-sizing(border-box);
  display: block;
}

.warningmessage, .notemessage {
  background: @warningBackground ;
  border: 1px solid @warningBorder;
  color: #333;
  position: relative;
  &:before {
    .font-icon();
    left: 22px;
    top: 9px;
    position: absolute;
    color: @warningColor;
    content: "\e771";// uiIconWarning
  }
}

.tipmessage, .successmessage {
  background: @successBackground ;
  border: 1px solid @successBorder;
  color: #333;//alway #333
  position: relative;
  &:before {
    .font-icon();
    left: 22px;
    top: 9px;
    position: absolute;
    content: "\e770";// uiIconValidate
    color: @successColor;
  }
}

.infomessage {
  background: @infoBackground ;
  border: 1px solid @infoBorder;
  color: #333;//alway #333
  position: relative;
  &:before {
    .font-icon();
    left: 22px;
    top: 9px;
    position: absolute;
    content: "\e767";// uiIconInformation
    color: @infoColor;
  }
}

.errormessage{
  background: @errorBackground ;
  border: 1px solid @errorBorder;
  color: #333;//alway #333
  position: relative;
  &:before {
    .font-icon();
    left: 22px;
    top: 9px;
    position: absolute;
    content: "\e76d";
    color: @errorColor
  }
}
