//
// Sprites
// --------------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="iconinbox"></i>.

// For the @baseBackground version of the icons, just add the .iconwhite class:
// <i class="iconinbox iconwhite"></i>

[class^="uiIconWiki"],.LeftNavigationTDContainer .uiPopup [class^="uiIconWiki"]{
 color: @colorIconDefault;
}

/* Blue icons with optional class, or on hover/active states of certain elements */

.actionIcon:hover > i > [class^="uiIconWiki"],.uiActionWithLabel:hover > i > [class^="uiIconWiki"],
.nav-pills > .active > a > [class^="uiIconWiki"],
.nav-list > .active > a > [class^="uiIconWiki"],
.navbar-inverse .nav > .active > a > [class^="uiIconWiki"],
.dropdown-menu > li > a:hover > [class^="uiIconWiki"],
.dropdown-menu > .active > a > [class^="uiIconWiki"],
.nodeSelected:hover [class^="uiIconWiki"],
.uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIconWiki"],
.btn:hover [class^="uiIconWiki"],
a:hover [class^="uiIconWiki"],
[class^="uiIconWiki"]:hover,
.uiIconWikiBlue
{
 color: @colorIconPrimary;

}

/* light grey icons with optional class, or on  */


.dropdown-menu > li > a > [class^="uiIconWiki"],
.dropdown-menu > .active > a > [class^="uiIconWiki"],
.breadcrumb [class^="uiIconWiki"],
.uiDropdownWithIcon .dropdown-submenu> a > [class^="uiIconWiki"],
.uiDropDownCal li a [class^="uiIconWiki"]
{
 color: @colorIconDefault;

}

.uiIconWikiDarkGray,
.uiIconWikiExtra,
.LeftNavigationTDContainer [class^="uiIconWiki"] {
 color: @colorIconExtra;
}
/* White icons with optional class, or on hover/active states of Drop down with Icons */

.uiDropdownWithIcon .nav-pills > .active > a > [class^="uiIconWiki"],
.uiDropdownWithIcon .nav-list > .active > a > [class^="uiIconWiki"],
.uiDropdownWithIcon .navbar-inverse .nav > .active > a > [class^="uiIconWiki"],
.uiDropdownWithIcon .dropdown-menu > li > a:hover > [class^="uiIconWiki"],
.uiDropdownWithIcon .dropdown-menu > .active > a > [class^="uiIconWiki"],
.uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIconWiki"],
.btn-primary [class^="uiIconWiki"],
.btn-primary:hover [class^="uiIconWiki"],
.uiDropDownCal a:hover [class^="uiIconWiki"],
.uiDropDownCal .active a:hover [class^="uiIconWiki"],
.eventAllDay [class^="uiIconWiki"],
.eventDayContainer [class^="uiIconWiki"],
.uiIconWikiWhite
{
  color: @colorIconSecondary

}

.uiCompanyNavigationPortlet .uiIconWiki{
	top: 2px;
}
.uiIconWikiRestrictedFile:before {content: "\e6b2";} 
 
