.UIWikiPageEditForm .ActionContainer {
	padding: 2px 0px 12px;
	height: 30px;
}

.UIWikiPageEditForm .UIEditorTabs {
	background: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
}

.UIWikiPageEditForm .UIEditorTabs a:hover{
	box-shadow: 0 10px 10px #ebebeb inset;
	background-color: #f1f1f1;
	text-decoration: none;
}

.UIWikiPageEditForm .UIEditorTabs .Selected{
	box-shadow: 0 10px 10px #dddddd inset;
	background-color: #e9e9e9;
}

.UIWikiPageEditForm .UIEditorTabs .RichText {
	background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat 4px -233px;
	padding: 3px 9px 4px 32px;
}

.UIWikiPageEditForm .UIEditorTabs .Help {
	background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat 4px -210px;
	padding: 3px 9px 4px 32px;
}

.UIWikiPageEditForm .UIEditorTabs .SourceEditor {
	background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat 5px -21px;
	padding: 3px 9px 4px 32px;
}

.UIWikiPageEditForm .UIEditorTabs .PreviewPage {
	background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat 3px -188px;
	padding: 3px 9px 4px 32px;
}

.UIWikiPageEditForm .RightWrap .UIAction{
	float: right;
}

.UIWikiPageEditForm .UIColsLeftsEditForm .DraftTime{
	line-height: 31px;
	padding-left: 12px;
}

.UIWikiPageEditForm .PublishActivityCheckBoxTitle{
	padding: 8px 10px 0 0;
	line-height: 26px;
}

.UIWikiPageEditForm .CommentInput .PublishActivityCheckBoxTitle{
	line-height: 18px;
}

.UIWikiPageEditForm .PublishActivityCheckBoxTitle input{
	margin-right: 10px;
	vertical-align: top;
}

.UIWikiPageEditForm .ActionContainer .btn-group > .btn + .btn{
	margin-left: -4px;
}