
.wikiBoxDecoration {
	border: 1px solid @wikiBorder;
	background: @white;
	h6 {
		background: @wikiBackgroundColor;
		border-bottom: 1px solid @wikiBorder;
		line-height: 35px;
		font-weight: bold;
		padding: 0 15px;
		margin: 0;
		.box-shadow(1px 0px 2px rgba(0,0,0,0.2));
	}
}

.uiWikiUpperArea{
	padding: 14px 24px;
}

/*===========Relate page==========*/
.uiRelatePages{
	.relateContent{
		padding: 12px 12px 14px;
		.relateItem{
			display: block;
			padding: 4px 0;
			.uiIconFile{
				margin: 0px 4px 0px 0px;
				color: @grayDark;
			}
		}
	}
	.wikiBox{
		margin-top: 15px;
	}
	
}

.uiWikiPageControlArea{
	.uiWikiPageTitle{
		.uiInputInfo{
			font-size: 24px;
			font-weight: bold;
			color: @linkColor;
		}
	}
}

/*===========Preview page==========*/
.uiWikiMaskWorkspace{
	width: 100%;
	.wikiPreviewHeader{
		background: @grayWhiteSmoke;
		border-bottom: 1px solid @borderColor;
		padding: 6px 6px 4px 25px;
		.popupTitle {
			color: @grayDark;
			font-size: 14px;
			font-weight: bold;
			line-height: 25px;
		}
		
	}
	.uiWikiPagePreview{
		background: @white;
		padding: 15px 25px 25px;
		height: 1000px;
		.uiWikiPageTitlePreview{
			border-bottom: 1px dotted #C7C7C7;
			font-size: 24px;
			font-weight: bold;
			color: @linkColor;
			line-height: 28px;
			padding: 0 0 12px 0;
		}
		.uiWikiContentDisplay{
			padding: 18px 0 0;
		}
	}
}

/*===============Wiki Select Page==========*/

.uiWikiSelectPageForm{
	.uiTreeExplorer{
		.selected{
			font-weight: bold;
		}
		.nodeSelected{
			color: aaa;
		}
	}
	.uiSpaceSwitcher_UIWikiSelectPageForm{
		cursor: pointer;
		float: left;
		margin-left: 10px;
		.spaceChooserPopup{
			top: 74px;
			left: 129px;
		}
	}
}


/*==================== alert wiki macro because can't change name xwiki ==========================*/
.uiWikiPortlet {
	.uiWikiMiddleArea{
		.warningmessage, .tipmessage, .infomessage, .errormessage, .notemessage {
			.border-radius(3px 3px 3px 3px);
			.box-shadow(0px 1px 1px #E2E3E3);
			padding: 8px 13px 8px 45px;
			margin: 10px 0;
			border: 1px solid white;
			color: @infoText;
		}
		.warningmessage, .notemessage {
			border-color: @warningBorder;
			background: @warningBackground url("/eXoResources/skin/images/Icons/warningIcon.png") no-repeat 12px center;
		}

		.tipmessage {
			border-color: @successBorder;
			background: @successBackground url("/eXoResources/skin/images/Icons/successIcon.png") no-repeat 12px center;
		}

		.infomessage{
			border-color: @infoBorder;
			background: @infoBackground url("/eXoResources/skin/images/Icons/infoIcon.png") no-repeat 12px center;
		}

		.errormessage{
			border-color: @errorBorder;
			background: @errorBackground url("/eXoResources/skin/images/Icons/errorIcon.png") no-repeat 12px center;
		}
	}
}