[class^="icon-"], [class*=" icon-"] {
	width: 16px;
	line-height: 16px;
	height: 16px;
	background-image: url('background/icon-wiki.png');
}

.icon-EditPage {
	background-position: -24px -24px;
}

.icon-attachment {
	background-position: 0px 0px;
}
.icon-pencil-underline {
	background-position: -24px 0px;
}

.icon-arrow-down {
	background-position: -66px 6px;
}
