.xRichTextEditorTabPanel {
  background-color: #F0F0EE;
  font-style: normal;
  width: 100%;
  padding: 0;
  margin: 0;
}

.xRichTextEditorTabPanel td {
  border: 0 none;
  padding: 0;
}

.xRichTextEditorTabPanel .xRichTextEditor {
  border: 0 none;
}

.xRichTextEditor {
  border: 1px solid #DDD;
  border-top: 0 none;
  font-style: normal;
}

.xPlainTextEditor {
  border: 0 none;
  width: 100%;
  height: 100%;
}

.xColorPicker {
  border: 1px solid #B5B6B5;
  z-index: 99;
}

.xColorPalette {
  border-bottom: 1px solid #EFEFEF;
  border-right: 1px solid #EFEFEF;
}

.xColorPalette td {
  border-left: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
  height: 21px;
  width: 21px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.xColorPalette .colorCell {
  height: 15px;
  width: 15px;
  padding: 0;
  margin: 0;
  border: 3px solid white;
}

.xColorPalette .colorCell-hover {
  border: 3px solid #CCC;
}

.xColorPalette .colorCell-selected-dark,.xColorPalette .colorCell-selected-light
  {
  background-position: center center;
  background-repeat: no-repeat;
}

.xColorPalette .colorCell-selected-dark {
  background-image: url("z/images/checked-white.gif");
}

.xColorPalette .colorCell-selected-light {
  background-image: url("images/checked-black.gif");
}

.xDialogBox {
  padding: 3px;
  background-color: white;
}

.xDialogBox div.clearfloats {
  margin: 0 !important;
}

.xDialogBox-dragging {
  background-color: transparent !important;
  border: 1px dashed #333;
}

.xDialogCaptionBar {
  background-color: #DDD;
  color: #777;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 27px;
  padding: 0 27px 0 25px;
  position: relative;
  cursor: default;
}

* html .xDialogCaptionBar {
  width: 100%;
}

.xDialogIcon {
  position: absolute;
  left: 3px;
  top: 3px;
}

.xDialogCaption {
  height: 27px;
  line-height: 27px;
  white-space: nowrap;
}

.xDialogCloseIcon {
  position: absolute;
  right: 5px;
  top: 5px;
}

.xDialogContent {
  border: 2px solid #DDD;
  border-top: 1px solid #DDD;
}

.xDialogHeader,.xDialogFooter {
  padding: 10px;
  line-height: 25px;
}

.xDialogHeader {
  font-weight: lighter;
  color: #333;
  letter-spacing: 1px;
}

.xDialogBody {
  border-top: 2px solid #EEE;
  border-bottom: 2px solid #EEE;
  height: 350px;
  width: 459px;
  overflow: auto;
  margin: 0 6px;
  font-size: 85%;
}

.xDialogBody input {
  font-size: inherit;
}

.xDialogFooter {
  text-align: right;
}

.xDialogFooter button {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border: 1px solid #AAA;
  height: 25px;
  line-height: 17px;
  vertical-align: middle;
  margin-left: 5px;
}

.xHelpLabel,.xMacroDescription,.xMacroParameterDescription,.xPagePreviewFullname,.xImporterHelpLabel
  {
  color: #777;
  font-size: 90%;
  font-style: italic;
  margin-bottom: 3px;
  width: 433px;
}

.xMandatory {
  color: #777;
  font-size: 90%;
  font-style: italic;
  font-weight: normal;
  margin-left: 1ex;
}

.xMacroParameter textarea,.xImporterClipboardTabEditor {
  width: 433px;
  border: 1px solid #AAA;
  padding: 2px;
}

.xMacroParameterLabel-mandatory,.xInfoLabel-mandatory {
  color: #5A1;
}

.xErrorMsg {
  font-size: 75%;
  color: #d22;
  margin-bottom: 3px;
}

.xErrorField {
  border: 1px solid #d55 !important;
}

.xAttachmentsSelector,.xPagesSelector,.xExplorerPanel,.xImagesSelector,.xImagesExplorer,.xMacroSelector
  {
  margin-top: 5px;
  width: 459px;
  overflow: auto;
  height: 340px;
}

.xSelectorAggregatorStep {
  height: 346px;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  width: 459px;
}

.xSelectorAggregatorStep .xAttachmentsSelector,.xSelectorAggregatorStep .xPagesSelector,.xSelectorAggregatorStep .xExplorerPanel,.xSelectorAggregatorStep .xImagesSelector,.xSelectorAggregatorStep .xImagesExplorer
  {
  height: 315px;
}

.xImagesSelector .xListItem {
  display: inline-block;
  width: 145px;
  height: 105px;
  float: left;
}

.xImagesSelector .clearfloats {
  width: 1px;
  height: 1px;
}

.xImagesSelector .xListItem .xImagePreview,.xImagesSelector .xListItem .xNewImagePreview
  {
  display: inline-block;
  margin: 5px;
  width: 135px;
  height: 95px;
  padding: 0;
  background-color: #FFF;
  overflow-y: hidden;
  cursor: pointer;
}

.xImagesSelector .xListItem .xImagePreview img {
  max-height: 95px;
  max-width: 135px;
}

.xImagesSelector .xListItem .xNewImagePreview {
  text-align: left;
  vertical-align: bottom;
}

.xPageChooser {
  margin-top: 5px;
}

.xImagesSelector .xListBox {
  overflow: auto;
}

.xImportOfficeContentEditor {
  width: 450px;
  height: 250px;
  border: 1px solid #999;
}

.xExplorer .listGrid {
  border: none;
}

.xExplorer {
  overflow: hidden;
}

.xAttachmentsSelector .xListBox,.xPagesSelector .xListBox {
  overflow: auto;
}

.xAttachmentsSelector .xAttachPreview,.xAttachmentsSelector .xNewFilePreview,.xPagesSelector .xPagePreview,.xPagesSelector .xNewPagePreview
  {
  padding: 5px 5px 5px 20px;
  cursor: pointer;
  background-position: left center;
  background-repeat: no-repeat;
}

.xAttachmentsSelector .xAttachPreview {
  background-image: url(images/attach.gif);
}

.xPagesSelector .xPagePreview {
  background-image: url(images/page_white_text.gif);
}

.xAttachmentsSelector .xNewFilePreview,.xPagesSelector .xNewPagePreview
  {
  background-image: url(images/bullet_add.gif);
}

.xPagePreview .xPagePreviewTitle {
  padding-top: 0;
  text-transform: none;
}

.xPagePreview .xPagePreviewFullname {
  margin-bottom: 0;
  margin-top: 3px;
  overflow: hidden;
  width: 413px;
}

.xPagesSearch .xSearchForm {
  height: 25px;
  line-height: 19px;
}

.xSearchForm button {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border: 1px solid #AAA;
  margin-left: 5px;
  height: 23px;
  width: 83px;
}

.xSearchForm input {
  width: 365px;
}

.xMacro {
  padding: 6px 0 6px 3px;
}

* html .xMacro {
  padding: 6px 0;
}

.xMacroParameter {
  padding: 14px 0 6px 0;
}

.xMacro .xMacroLabel,.xMacroParameter .xMacroParameterLabel {
  padding-top: 0;
}

.xMacroDescription {
  margin-bottom: 0;
  margin-top: 3px;
}

.xMacroParameterDescription:first-letter {
  text-transform: capitalize;
}

.xMacroParameter textarea {
  height: 150px;
}

.xMacroParameter option {
  text-transform: capitalize;
}

.xMacroFilter {
  padding: 2px 0;
}

.xMacroFilter .xSearchBox {
  width: 215px;
  margin-top: 5px;
  padding-left: 20px;
}

.xMacroCategoryList {
  margin-right: 6px;
  margin-bottom: 5px;
  text-transform: capitalize;
  width: 215px;
}

.xMacroSelector {
  margin-top: 0;
  height: 346px;
  overflow: hidden;
}

.xMacroSelector .xListBox {
  overflow: auto;
}

.xMacroButton {
  background-image: url(images/macro.gif);
  background-position: center center;
  background-repeat: no-repeat;
}

.xSymbolPalette {
  border-right: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  margin: 2px 3px 3px 2px;
}

.xSymbolPalette td {
  border-left: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
  height: 17px;
  width: 17px;
  margin: 2pt;
  padding: 0;
}

.xSymbolPalette .symbolCell {
  height: 15px;
  width: 15px;
  padding: 2px;
  margin: 0;
  font-size: 90%;
  text-align: center;
  vertical-align: middle;
  background-color: #FFF;
  color: #191970;
  cursor: default;
}

.xSymbolPalette .symbolCell-hover {
  background-color: #789;
}

.xTablePixel {
  display: inline;
}

.xTablePanel .xBorderInput {
  width: 410px;
}

.xToolbar div.clearfloats {
  background-color: transparent;
  clear: both;
  float: none;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  margin: 0;
}

.xToolbar {
  background: #F0F0EE none repeat scroll 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  width: 100%;
}

.xToolbar div {
  float: left;
  height: 23px;
}

.xToolbar .separator {
  background-color: #F0F0EE;
  border-color: buttonshadow buttonhighlight buttonhighlight buttonshadow;
  border-style: solid;
  border-width: 1px;
  height: 17px;
  margin: 2px 2px 2px 4px;
  width: 0;
}

.xToolbar .xStyleNamePicker option {
  padding-left: 17px;
  text-transform: capitalize;
}

.xToolbar .xStyleNamePicker .selected {
  background: url(images/checked-black.gif) no-repeat scroll 2px center
    #E0E0E0;
}

.xListItem-selected {
  background-color: #D4E8FF;
}

.xFontSizePicker {
  width: 18ex;
}

.xFontFamilyPicker {
  width: 23ex;
}

.xFontFamilyPicker option {
  font-size: small !important;
}

.xSearchBox {
  background-image: url(images/search.gif);
  background-position: 2px center;
  background-repeat: no-repeat;
  border: 1px solid #666;
  padding: 2px 2px 2px 19px;
}

