{{tip}}[[Get some tips>>http://conflatulence.blogspot.com/2010/03/how-to-guide-recipe.html]] on using this template{{/tip}}

{{section justify="true"}}
{{column}}
{{panel  title="Table of Contents"}}
{{toc}}{{/toc}}
{{/panel}}
{{/column}}

{{column}}
{{panel  title="Purpose"}}
{{excerpt}}__This section should provide the overall purpose of the HOW-TO Guide. (e.g. intended audience, lesson)__{{/excerpt}}
{{/panel}}
{{/column}}
{{/section}}

=== Requirements ===

* __This short section should outline the requirements of the reader to use the guide.__

=== Instructions ===

1. __This section provides step-by-step instructions for the reader to follow to perform the particular act described in the HOW-TO.__

=== Tips & Warnings ===

* __List any particular common difficulties that the reader may come across__

=== Related ===

* __Link to any related HOW-TOs or External Links__
* __One way to improve this template is by replacing "Related" with either the__ __[[related-labels>>http://confluence.atlassian.com/x/mDgC]]__ __or__ __[[contentbylabel>>http://confluence.atlassian.com/x/njgC]]__ __macro__