<div class="box tipmessage">
  <a href="http://conflatulence.blogspot.com/2010/03/how-to-guide-recipe.html">Get some tips</a> on using this template
</div>

<h1>Requirements</h1>
<ul>
    <li>This short section should outline the requirements of the reader to use the guide.</li>
</ul>

<h1>Instructions</h1>
<ol>
    <li>This section provides step-by-step instructions for the reader to follow to perform the particular act described
        in the HOW-TO.&nbsp;
    </li>
</ol>

<h1>Tips &amp; Warnings</h1>
<ul>
    <li>List any particular common difficulties that the reader may come across</li>
</ul><h1>Related</h1>
<ul>
    <li>Link to any related HOW-TOs or External Links</li>
    <li>One way to improve this template is by replacing "Related" with either the</li>
</ul>

<p>
  <a href="http://confluence.atlassian.com/x/mDgC">related-labels</a>
  or <a href="http://confluence.atlassian.com/x/njgC">contentbylabel</a> macro
</p>