{{tip}}
The Confluence team uses tables to communicate scheduled leave times, an imperative part of resource planning and project management.
* **[[Edit>>Using the menus]]** **this page and add your vacation plans to the table.** Try using wiki markup to do it.
* The form on the right of this page was created using the [[Wufoo HTML Form Builder>>http://wufoo.com/]]. Try filling out the form or [[learn how>>http://blogs.atlassian.com/news/2009/05/confluence_wufo.html]] to create a one for yourself.
{{/tip}}

\\

{{info}}
This page summarises leave of Confluence team members. It is not a replacement for the normal leave process. To get leave approved, you must first complete the form on the right of this page.
{{/info}}

{{section justify="true"}}
{{column}}
| (/) | Terry Johnson | 14/9 - 24/9 (Holiday), 4/10 - 12/10 (Personal) |
| (/) | Ben Wilson | 28/8 - 17/9 |
| (/) | Evan Booth | 8-15/10 |
| (/) | Rudy Snow | 26/10 - 2/11 (annual leave) |
| (/) | Mark Giles | 5/11 - 16/11 |
| (/) | Judd Nelson | 23/11 - 11/12 |
| (/) | Meredith Romano | 6/12 - 26/12 |
| (/) | Patrick Norton | 18/12 - 4/1. Working remotely for two days somewhere in between, and check my mail daily. |
| (/) | Arnold Kasper | 24/12 - 2/1 |
| (/) | Ryan Forman | 24/12, 31/12 |
| (/) | Michelle Longley | 27,28,31 DEC |
| (/) | Donna Willis | 31/12 - 2/1 |
| (/) | Ben Wilson | 4/1+7/1, 17+18+21/1 |
| (/) | Evan Booth | 25/1 |
| (/) | Michelle Longley | 29/1 - 1/2 |
| (/) | Terry Johnson | 1,4,5/2 |
| (/) | Ryan Forman | 15+18/2 |
| (/) | Patrick Norton | 20/3 |
| (/) | Daniel Kim | Thu 27th March to Wed 16th April |
| (/) | Donna Willis | 11/4/8 - 14/4/8 (very long weekend) |
| (/) | Meredith Romano | 29/4 |
| (/) | Patrick Norton | 2/5 |
| (/) | Ben Wilson | 22/5/08 |
| (/) | Michelle Longley | 28/5/08 |
| (/) | Chaz Gilbert | 2/7 - 23/7 |
| (/) | Patrick Norton | 6/6 & 10/6 |
| (y) | Patrick Norton | 28 July |
| (?) | Arnold Kasper | up to three weeks in June/July |
| (y) | Michelle Longley | 4-8 August |
| (y) | Terry Johnson | 3-15 September |
| (?) | Niles Tandem | 11-17 September |
| (y) | Tom Zebrowski | 15 September \-> 03 October 2008 |
| (?) | Ben Wilson | 6 Oct - 20 Oct |
| (y) | Scott Sampson | 15 August 2008 |
| (y) | Chaz Gilbert | 3 November 2008 - 2 December 2008 |
| (?) | Nolan Matthews | 9 February - 20 February 2009 |
{{/column}}
{{/section}}