<div class="box tipmessage">The Confluence team uses tables to communicate scheduled leave times, an imperative part of
    resource planning and project management.* <strong><span class="wikicreatelink"><a
            href="/portal/root/wiki/user/root/WikiHome?action=AddPage&amp;pageTitle=Using the menus&amp;wiki=root&amp;wikiType=user">Edit</a></span></strong>
    <strong>this page and add your vacation plans to the table.</strong> Try using wiki markup to do it.* The form on
    the right of this page was created using the <span class="wikiexternallink"><a href="http://wufoo.com/">Wufoo HTML Form Builder</a></span>.
    Try filling out the form or <span class="wikiexternallink"><a
            href="http://blogs.atlassian.com/news/2009/05/confluence_wufo.html">learn how</a></span> to create a one for
    yourself.
</div><p><br/></p>
<div class="box infomessage">This page summarises leave of Confluence team members. It is not a replacement for the
    normal leave process. To get leave approved, you must first complete the form on the right of this page.
</div>
<div style="text-align:justify;">
    <div style="float:left;width:99.9%;">
        <table>
            <tr>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Terry Johnson&nbsp;</td>
                <td>&nbsp;14/9 - 24/9 (Holiday), 4/10 - 12/10 (Personal)&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Ben Wilson&nbsp;</td>
                <td>&nbsp;28/8 - 17/9&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Evan Booth&nbsp;</td>
                <td>&nbsp;8-15/10&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Rudy Snow&nbsp;</td>
                <td>&nbsp;26/10 - 2/11 (annual leave)&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Mark Giles&nbsp;</td>
                <td>&nbsp;5/11 - 16/11&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Judd Nelson&nbsp;</td>
                <td>&nbsp;23/11 - 11/12&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Meredith Romano&nbsp;</td>
                <td>&nbsp;6/12 - 26/12&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Patrick Norton&nbsp;</td>
                <td>&nbsp;18/12 - 4/1. Working remotely for two days somewhere in between, and check my mail daily.&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Arnold Kasper&nbsp;</td>
                <td>&nbsp;24/12 - 2/1&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Ryan Forman&nbsp;</td>
                <td>&nbsp;24/12, 31/12&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Michelle Longley&nbsp;</td>
                <td>&nbsp;27,28,31 DEC&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Donna Willis&nbsp;</td>
                <td>&nbsp;31/12 - 2/1&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Ben Wilson&nbsp;</td>
                <td>&nbsp;4/1+7/1, 17+18+21/1&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Evan Booth&nbsp;</td>
                <td>&nbsp;25/1&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Michelle Longley&nbsp;</td>
                <td>&nbsp;29/1 - 1/2&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Terry Johnson&nbsp;</td>
                <td>&nbsp;1,4,5/2&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Ryan Forman&nbsp;</td>
                <td>&nbsp;15+18/2&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Patrick Norton&nbsp;</td>
                <td>&nbsp;20/3&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Daniel Kim&nbsp;</td>
                <td>&nbsp;Thu 27th March to Wed 16th April&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Donna Willis&nbsp;</td>
                <td>&nbsp;11/4/8 - 14/4/8 (very long weekend)&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Meredith Romano&nbsp;</td>
                <td>&nbsp;29/4&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Patrick Norton&nbsp;</td>
                <td>&nbsp;2/5&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Ben Wilson&nbsp;</td>
                <td>&nbsp;22/5/08&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Michelle Longley&nbsp;</td>
                <td>&nbsp;28/5/08&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Chaz Gilbert&nbsp;</td>
                <td>&nbsp;2/7 - 23/7&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/accept.gif" class="wikimodel-freestanding" alt="accept"/>&nbsp;</td>
                <td>&nbsp;Patrick Norton&nbsp;</td>
                <td>&nbsp;6/6 &amp; 10/6&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/thumb_up.gif" class="wikimodel-freestanding" alt="thumb_up"/>&nbsp;
                </td>
                <td>&nbsp;Patrick Norton&nbsp;</td>
                <td>&nbsp;28 July&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/help.gif" class="wikimodel-freestanding" alt="help"/>&nbsp;</td>
                <td>&nbsp;Arnold Kasper&nbsp;</td>
                <td>&nbsp;up to three weeks in June/July&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/thumb_up.gif" class="wikimodel-freestanding" alt="thumb_up"/>&nbsp;
                </td>
                <td>&nbsp;Michelle Longley&nbsp;</td>
                <td>&nbsp;4-8 August&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/thumb_up.gif" class="wikimodel-freestanding" alt="thumb_up"/>&nbsp;
                </td>
                <td>&nbsp;Terry Johnson&nbsp;</td>
                <td>&nbsp;3-15 September&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/help.gif" class="wikimodel-freestanding" alt="help"/>&nbsp;</td>
                <td>&nbsp;Niles Tandem&nbsp;</td>
                <td>&nbsp;11-17 September&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/thumb_up.gif" class="wikimodel-freestanding" alt="thumb_up"/>&nbsp;
                </td>
                <td>&nbsp;Tom Zebrowski&nbsp;</td>
                <td>&nbsp;15 September \-&gt; 03 October 2008&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/help.gif" class="wikimodel-freestanding" alt="help"/>&nbsp;</td>
                <td>&nbsp;Ben Wilson&nbsp;</td>
                <td>&nbsp;6 Oct - 20 Oct&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/thumb_up.gif" class="wikimodel-freestanding" alt="thumb_up"/>&nbsp;
                </td>
                <td>&nbsp;Scott Sampson&nbsp;</td>
                <td>&nbsp;15 August 2008&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/thumb_up.gif" class="wikimodel-freestanding" alt="thumb_up"/>&nbsp;
                </td>
                <td>&nbsp;Chaz Gilbert&nbsp;</td>
                <td>&nbsp;3 November 2008 - 2 December 2008&nbsp;</td>
                <td></td>
                <td><img src="/rest/wiki/emoticons/help.gif" class="wikimodel-freestanding" alt="help"/>&nbsp;</td>
                <td>&nbsp;Nolan Matthews&nbsp;</td>
                <td>&nbsp;9 February - 20 February 2009&nbsp;</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div style="clear:both"></div>
</div>