<h2 id="HTeamA">
  <span>Team A</span>
</h2>
<p><br/></p>
<p><br/></p>
<h2 id="HTeamB">
  <span>Team B</span>
</h2>
<figure class="table">
  <table>
    <thead>
      <tr>
        <th scope="col">&nbsp;Work Streams in Progress&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Status (R/Y/G)&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Actions This Week&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Risks/Issues &amp; Mitigation Plans&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Dependencies on Other Projects&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Dogfood Targets (Milestone, System, Date)&nbsp;</th>
        <th scope="col">&nbsp;Original Target Release Date&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;New Expected Release Date&nbsp;&nbsp;</th>
        <th scope="col"><br/></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>&nbsp;Work stream 1&nbsp;</td>
        <td>&nbsp;Install the <span class="wikiexternallink"><a rel="nofollow"
                                                                href="http://confluence.atlassian.com/x/FYedD">Project Status Lozenge user macro</a></span>
            to display a visualisation of a project's status.&nbsp;
        </td>
        <td>&nbsp;Work on the transmogrifier proceeding well&nbsp;&nbsp;</td>
        <td>&nbsp;Might not make it in time&nbsp;&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><br/></td>
      </tr>
      <tr>
        <td>&nbsp;Work stream 2&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><br/></td>
      </tr>
    </tbody>
  </table>
</figure>
<figure class="table">
  <table>
    <thead>
      <tr>
        <th scope="col">&nbsp;Work Streams in Progress&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Status (R/Y/G)&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Actions This Week&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Risks/Issues &amp; Mitigation Plans&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Dependencies on Other Projects&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Dogfood Targets (Milestone, System, Date)&nbsp;</th>
        <th scope="col">&nbsp;Original Target Release Date&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;New Expected Release Date&nbsp;&nbsp;</th>
        <th scope="col"><br/></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><br/></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><br/></td>
      </tr>
    </tbody>
  </table>
</figure>
<p><br/></p>
<h2 id="HTeamC">
  <span>Team C</span>
</h2>
<figure class="table">
  <table>
    <thead>
      <tr>
        <th scope="col">&nbsp;Work Streams in Progress&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Status (R/Y/G)&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Actions This Week&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Risks/Issues &amp; Mitigation Plans&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Dependencies on Other Projects&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;Dogfood Targets (Milestone, System, Date)&nbsp;</th>
        <th scope="col">&nbsp;Original Target Release Date&nbsp;&nbsp;</th>
        <th scope="col">&nbsp;New Expected Release Date&nbsp;&nbsp;</th>
        <th scope="col"><br/></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><br/></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><br/></td>
      </tr>
    </tbody>
  </table>
</figure>