== Team A ==


|= Work Streams in Progress  |= Status (R/Y/G)  |= Actions This Week  |= Risks/Issues & Mitigation Plans  |= Dependencies on Other Projects  |= Dogfood Targets (Milestone, System, Date) |= Original Target Release Date  |= New Expected Release Date  |=\\
| Work stream 1 | Install the [[Project Status Lozenge user macro>>http://confluence.atlassian.com/x/FYedD]] to display a visualisation of a project's status. | Work on the transmogrifier proceeding well  | Might not make it in time  | | | | |\\
| Work stream 2  |  | | | | | | |\\

\\

== Team B ==

|= Work Streams in Progress  |= Status (R/Y/G)  |= Actions This Week  |= Risks/Issues & Mitigation Plans  |= Dependencies on Other Projects  |= Dogfood Targets (Milestone, System, Date) |= Original Target Release Date  |= New Expected Release Date  |=\\
| | | | | | | | |\\
| | | | | | | | |\\

\\

== Team C ==

|= Work Streams in Progress  |= Status (R/Y/G)  |= Actions This Week  |= Risks/Issues & Mitigation Plans  |= Dependencies on Other Projects  |= Dogfood Targets (Milestone, System, Date) |= Original Target Release Date  |= New Expected Release Date  |=\\
| | | | | | | | |\\
| | | | | | | | |\\