
.UIWikiPageEditForm .UISubmitToolBar .ActionButton {
	float: left;
}

.UIWikiPageEditForm .UIEditUpper  .UISubmitToolBar {
	float: right;
	padding-top: 15px;
}

.UIWikiPageEditForm .UIEditUpper .RightWrap {

}

.UIWikiPageEditForm .UIEditUpper .RightWrap .UISubmitToolBar {
  float: none;
}

.UIWikiPageEditForm .UISubmitToolBar .DisableButton {
    opacity: 0.40;
}

.UIWikiPageEditForm .UISubmitToolBar .DisableButton:HOVER {
    cursor: wait;
    color: black;
}

.UIWikiPageEditForm .UIWikiPageContainer .form-horizontal .control-group .control-label {
    width: 72px;
}

.UIWikiPageEditForm .UIWikiPageContainer .form-horizontal .control-group .controls {
    margin-left: 80px;
}

